{% extends 'base.html.twig' %}

{% block title %}{{ course.name }}{% endblock %}

{% block body %}
    <h1 class="course-name mb-3">{{ course.name }}</h1>
    <p class="course-description">
        {{ course.description }}
    </p>
    <h2>Уроки</h2>
    <ul>{% for lesson in lessons %}
            <li class="mt-2">{{lesson.number}}<a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">{{ lesson.name }}</a></li>
        {% endfor %}</ul>
    <div class="d-flex flex-row">
        <a class="btn btn-outline-secondary mt-3 mx-2" href="{{ path('app_course_index') }}">Вернутся к списку курсов</a>
        <a class="btn btn-outline-secondary mt-3 mx-2 course-edit" href="{{ path('app_course_edit', {'id': course.id}) }}">Изменить</a>
        <a class="btn btn-outline-secondary mt-3 mx-2" href="{{ path('app_lesson_new', {'course': course.id}) }}">Добавить урок</a>
        {{ include('course/_delete_form.html.twig') }}
    </div>

{% endblock %}
